/* Light theme vars*/
:root[data-theme="light"] {
  --background-color: #899faa;
  --heading-color: #253237;
  --heading-text-color: #253237;
  --container-color: #899faa;
  --text-color: #333;
  --link-color: #007bff;
  --border-color: #ddd;
  --image-border-color: #0f0c0c;
}

/* Dark theme vars*/
:root[data-theme="dark"] {
  --background-color: #121212;
  --heading-color: #0e1416;
  --heading-text-color: #050808;
  --container-color: rgb(37, 50, 54);
  --text-color: #eee;
  --link-color: #1a91da;
  --border-color: #444;
  --image-border-color: #666;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.App {
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  max-width: 1110px;
}

.websites-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: var(--container-color);
}

.websites-container-info {
  border: 44px solid var(--heading-color);
  background-color: var(--container-color);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
  z-index: 2;
}

.websites-container-info2 {
  border: 44px solid  var(--heading-color);
  background-color: var(--container-color);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
}

.websites-container-content {
  padding-bottom: 33px;
  font-size: 1.5em;
  z-index: 2;
  text-align: center;
}

.websites-container-content ul {
  /* Remove default list styling */
  list-style-type: none;
  padding-left: 45px;
  padding-right: 45px;
}

.websites-container-content ul li {
  /* Styling for each list item */
  margin-bottom: 21px;
  position: relative;
  cursor: default;
  transition: all 0.3s ease;
  color: var(--heading-text-color);
}

.websites-container-content ul li:before {
  /* Custom bullet style */
  position: absolute;
  left: 0;
  color: var(--heading-text-color); /* Theme color for bullet */
  font-size: 1.5rem;
  line-height: 1; /* Align bullet with text */
}

.websites-container-content ul li:hover {
  /* Animation on hover */
  transform: translateX(10px);
  color: #9DB4C0; /* Darker color on hover */
}

.websites-container-content2 {
  padding-bottom: 33px;
  font-size: 1.5em;
  text-align: left;
  z-index: 2;
  background-color: var(--container-color);
}

.websites-container-content2 ul {
  /* Remove default list styling */
  list-style-type: none;
  padding-left: 45px;
  padding-right: 45px;
}

.websites-container-content2 ul li {
  /* Styling for each list item */
  margin-bottom: 21px;
  padding-left: 21px;
  position: relative;
  cursor: default;
  transition: all 0.3s ease;
}

.websites-container-content2 ul li:before {
  /* Custom bullet style */
  content: '•';
  position: absolute;
  left: 0;
  color: #9DB4C0; /* Theme color for bullet */
  font-size: 1.5rem;
  line-height: 1; /* Align bullet with text */
}

.websites-container-content2 ul li:hover {
  /* Animation on hover */
  transform: translateX(10px);
  color: #9DB4C0; /* Darker color on hover */
}

.website-preview {
  width: 300px; /* Fixed width for uniform size */
  border: 1px solid #9DB4C0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

.website-preview:hover {
  border: 1px solid #E0FBFC;
}

.website-image {
  width: 100%;
  height: 200px; /* Fixed height for uniform size */
  object-fit: cover; /* Ensures image covers the area nicely */
}

.info-pane {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--heading-color);
  color: #C2DFE3;
  padding: 10px;
  transform: translateY(93%);
  transition: transform 0.3s ease-in-out;
}

.website-preview:hover .info-pane {
  transform: translateY(0);
}

.website-title {
  color: #E0FBFC;
  font-style: italic;
  font-size: 18px;
  margin: 0;
  z-index: 2;
}

.website-info {
  font-size: 14px;
  margin: 5px 0 0;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.parallax-layer-back {
  transform: translateZ(-3px) scale(4);
  /* Background SVG styling (e.g., mountains) */
}

.parallax-layer-mid {
  transform: translateZ(-2px) scale(3);
  /* Mid-ground SVG styling (e.g., smaller hills, trees) */
}

.parallax-layer-front {
  transform: translateZ(-1px) scale(2);
  /* Foreground SVG styling (e.g., detailed elements like close-up trees, snowflakes) */
}

.App-header {
  text-align: center;
}

.App-header h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.email a {
  text-decoration: none;
  color: var(--heading-text-color);
  transition: all 0.3s ease;
}

.email a:hover {
  color: #C2DFE3; /* Darker color for GitHub hover */
  text-decoration: none;
}

.social-links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 9px;
  padding-right: 9px;
  gap: 20px;
  z-index: 2;
}

.social-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 2;
}

.social-link-footer {
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 2;
}

.social-link span {
  margin-left: 8px;
}

.github-link:hover {
  color: #C2DFE3; /* Darker color for GitHub hover */
}

.linkedin-link:hover {
  color: #C2DFE3; /* LinkedIn brand color for hover */
}

.social-link .faGithub, .social-link .faLinkedin {
  font-size: 24px;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Behind other content */
}

.name-heading {
  background-color: var(--heading-color);
  padding-top: 33px;
  padding-bottom: 33px;
  color: #E0FBFC;
  text-align: center;
}

.name-heading a {
  color: #9DB4C0;
}

.name-heading h2 {
  font-size: 5em;
  text-align: center;
}

.name-heading2 {
  text-align: center;
  z-index: 2;
  color: var(--heading-text-color);
}

.websites-container-name {
  padding-top: 44px;
  color: var(--heading-text-color);
  text-align: center;
  font-size: 2em;
}

.websites-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 33px;
}

.google-map-container {
  padding-top: 9px;
  padding-bottom: 33px;
}

.google-map-container iframe {
  z-index: 2;
}

@media (max-width: 792px) {
  .google-map-container iframe {
    width: 100%;
  }
}